<div class="container">
  <h2>User Settings</h2>
  <form class="form-check" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="userSettings.name"
              required #nameField="ngModel"
              (blur)="onBlur(nameField)"
              [class.field-error]="form.submitted && nameField.invalid">
      <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
        Enter a name
      </div>
    </div>
    <div class="form-check">
      <div class="mb-3">
        <input class="form-check-input" name="emailOffers" type="checkbox" id="emailOffers" [(ngModel)]="userSettings.emailOffers">
        <label class="form-check-label" for="emailOffers">
          Email Special Offers
        </label>
      </div>
  </div>
    <h5>User Interface Syle</h5>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" value="light" id="ligthInterface"  [(ngModel)]="userSettings.interfaceStyle" checked>
        <label class="form-check-label" for="ligthInterface">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" value="medium" id="mediumInterface"  [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" value="dark" id="darkInterface"  [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="darkInterface">
          Dark
        </label>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-check-label" for="subscriptionType">
        Subscription
      </label>
      <select class="form-select" name="subscriptionType" id="subscriptionType"  [(ngModel)]="userSettings.subscriptionType">
        <option value="monthly">Monthly</option>
        <option value="annual">Annual</option>
        <option value="lifetime">Lifetime</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-check-label" for="notes">
        Note
      </label>
      <textarea class="form-control" id="notes" name="notes" rows="3"  [(ngModel)]="userSettings.notes"></textarea>
    </div>
    <div [hidden]="!postError" class="alert alert-danger">
      {{postErrorMessage}}
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

{{ userSettings | json }}
